<div class="form-control">
  <label for="{{name.toLower()}}" ng-if="type!=='checkbox'">{{label}}</label>
  
  <!-- checkbox -->
  <label for="{{name.toLower()}}" ng-if="type==='checkbox'"><input type="checkbox" id="{{name}}" name="{{name}}">{{label}}</label>

  <!-- checkboxlist -->
  <p class="todo" ng-if="type==='checkboxlist'">checkboxlist</p>

  <!-- date -->
  <input type="date" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" ng-if="type==='date'">
  
  <!-- datetime -->
  <input type="datetime" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" ng-if="type==='datetime'">
  
  <!-- dropdown -->
  <select id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" ng-if="type==='dropdown'"></select>

  <!-- email address -->
  <input type="email" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" ng-if="type==='email'">

  <!-- fileupload -->
  <p class="todo" ng-if="type==='fileupload'">fileupload</p>

  <!-- number -->
  <input type="number" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" ng-if="type==='number'">

  <!-- password -->
  <input type="password" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" ng-if="type==='password'">
  
  <!-- radiobuttongroup -->
  <p class="todo" ng-if="type==='radiobuttongroup'">radiobuttongroup</p>

  <!-- search -->
  <div ng-if="type==='search'">
    <input type="search" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">
    <button type="button">Go</button>
  </div>

  <!-- text -->
  <input type="text" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" ng-model="ngModel" ng-if="type==='text'">

  <!-- textarea -->
  <textarea id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" rows="5" ng-if="type==='textarea'"></textarea>
  
</div>