<html ng-app="ripples">
  <head>
    <title>Ripples</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-controller="manageRipplesController">
    <h1>Ripples</h1>
    
    <!-- list of ripples -->
    <div style="display: inline-block; width:25%">
      <input type="search" placeholder="{{searchText}}">
      <ul class="list todo">
        <li ng-repeat="ripple in ripples" ng-click="loadRippleDetail(ripple);">{{ripple.name}}</li>
      </ul>
    </div>
    
    <!-- detail of selected ripple -->
    <div style="display: inline-block; width:70%">
      <!-- workflow -->
      <p class="todo">Add workflow diagram here</p>
      
      <!-- details -->
      <form>
        <control type="text" name="name" label="Name" placeholder="enter the name of the ripple" model="ripple.name"></control>
        
        <control type="textarea" name="description" label="Description" placeholder="enter a detailed description of what the ripple does" model="ripple.description"></control>
        
        <control type="textarea" name="code" label="Code" placeholder="enter the code to be executed when this ripple runs" model="ripple.code"></control>
        
        <control type="textarea" name="sampleinput" label="Sample Input" placeholder="Enter a sample input payload in json format" model="ripple.sampleInput"></control>
        
        <control type="textarea" name="sampleoutput" label="Sample Output" placeholder="Enter a sample output payload in json format" model="ripple.sampleOutput"></control>
      </form>
    </div>
    
    <!-- scripts -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="services.js"></script>
    <script type="text/javascript" src="directives.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
  </body>
</html>