/* forms */
.form-control {
  margin-bottom: 10px;
}
.form-control label {
  display: table;
  font-size: smaller;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  background-color: #dfdfdf;
  color: #666;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.form-control input, .form-control textarea, .form-control select {
  display: block;
  width: 100%;
  margin-top: 0px;
  padding: 5px;
  border: 1px solid #ccc;
}

/* lists */
.list {
  list-style: none;
  padding: 0px;
}
.list li {
  border-left: 3px solid #ccc;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}
.list li:hover {
  background-color: #eee;
}

/* reminder notes to finish or correct */
.todo {
  background-color: yellow;
  color: red;
}