form label, form input, form textarea, form select {
    display: block;
    margin-bottom: 10px;
}

form label {
    font-size: 10pt;
}

form input, form textarea, form select {
    padding: 10px;
}

form label input[type='checkbox'] {
    display: inline-block;
}

form input[type='search'] {
    padding: 5px;
}
form input[type='search'] + button, form input[type='search'] .button {
    padding: 5px;
    margin-left: -10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

form.horizontal label, form.horizontal input, form.horizontal textarea, form.horizontal select {
    display: inline-block;
}

form.horizontal button {
    display: inline-block;
    margin-left: 155px;
}

form.horizontal label {
    width: 150px;
}

form .help {
    margin-left: 150px;
    font-size: 10pt;
    padding: 5px;
}

form.inline label, form.inline input, form.inline select, form.inline textarea {
    display: inline-block;
}