body {
	margin: 0px;
	padding: 0px;
	background-color: #f3f3f3;
}

.center {
	margin: auto;
}

.container {
	margin: 30px;
}

footer.layout {
	position: relative;
	left: 0px;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #ccc;
}
footer.layout nav {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
footer.layout nav li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

header.layout {
	background-color: #262B33;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}
header.layout a {
	color: #fff;
	text-decoration: none;
}

header h1 {
	background-color: #009688;
	display: inline-block;
	line-height: 75px;
	text-align: center;
	width: 100px;
}

header.layout nav {
	position: absolute;
	right: 5px;
	top: 5px;
}

header.layout nav li {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

section {
	margin-top: 90px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #e2edeb;
	border-radius: 2px;
}

section.main-content > h2, section.main-content > h3 {
	position: relative;
	left: -30px;
	top: -60px;
	margin: 0px;
	padding: 0px;
}

section.main-content > h2 ~ h3 {
	position: inherit;
}

section h2 {
	color: #009688;
}

section h3 {
	color: inherit;
}

section .actions {
	position: relative;
	right: -30px;
	top: -25px;
	float: right;
	background-color: #f2f2f2;
	padding: 5px;
}

section .actions button, section .actions .button {
	background: transparent;
	border: 1px solid #fff;
	color: #aaa;
}

section.pricing {
	padding: 0px;
	margin-top: 20px;
	width: 200px;
	height: 250px;
	display: inline-block;
	vertical-align: top;
}
section.pricing:hover {
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
section.pricing p {
	padding: 15px;
}
section.pricing h4 {
	margin: 0px;
	padding: 15px;
	text-align: center;
	color: #fff;
}
section.pricing:first-of-type h4 {
	background-color: #009688;
}
section.pricing h4 {
	background-color: #F44336;
}

section.side-panel {
	position: absolute;
	top: -15px;
	right: 0px;
	z-index: 2;
	width: 40%;
	height: 90%;
	background-color: #fff;
}