body {
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #3D4051;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
}

h1 {
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.90em;
}

h4 {
	font-size: 1.5em;
}

.text-center {
	text-align: center;
}

.todo {
	padding: 10px;
	background-color: yellow;
	border: 1px solid orange;
	color: red;
}