<section>
	<h2>{{ vm.ripple.display }}</h2>
	<div class="actions">
		<button type="button" ng-click="">Version {{ vm.ripple.version }} <i class="fa fa-caret-down"></i></button>
		<button type="button" ng-click=""><i class="fa fa-edit"></i> Edit</button>
	    <button type="button" ng-click="run()"><i class="fa fa-play"></i> Run</button>
	</div>

	<h3>Description</h3>
	<p>{{ vm.ripple.description }}</p>

	<h4>Sample Input</h4>
	<i ng-show="!(vm.ripple.sampleInput)">None provided.</i>
	<code ng-bind="vm.ripple.sampleInput" ng-show="vm.ripple.sampleInput"></code>

	<h4>Sample Output</h4>
	<i ng-show="!(vm.ripple.sampleOutput)">None provided.</i>
	<code ng-bind="vm.ripple.sampleOutput" ng-show="vm.ripple.sampleOutput"></code>

	<h4>Code</h4>
	<code ng-bind="vm.ripple.code"></code>
</section>

<section>
	<h3>Process Diagram Relationships</h3>
	<p class="todo">Show all ripples that call this ripple as well as next ripples to call.</p>
</section>

<pre>{{ vm.ripple | json }}</pre>